.GetStarted{
    color: rgb(0, 0, 0);
    position: relative;
    
    min-height: 300px;
   
    padding: 8rem 2rem 5rem 2rem;
    box-sizing: border-box;
    background-size: cover;
    background-color: #f9a826e5;
    
    background-repeat: no-repeat;
    background-position: center;
}

.LandingImg{
    text-align: center;
    height: 100px;
}