@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Montserrat:wght@400;500;700&display=swap');
:root{
  --first-color:rgb(245, 165, 46);
  --input-color:#000;
  --border-color:#444;


  --body-font:'Montserrat', sans-serif;
  --normal-font-size:.75rem;
  --small-font-size:.5rem;



}

*,::before,::after{
  box-sizing: border-box;
}

.imgSignup{
    padding: 50px;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.gridImgSignup{
    contain: content;
}
.form__div{
  position: relative;
  height: 28px;
  max-width: 300px;
  margin-bottom: 1.5rem;
}

.form__input{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  font-size:var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: .5rem ;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form__label{
  position: absolute;
  left: 1rem;
  top:1rem;
  padding:0.15rem;
  background-color:#fff;
  color: var(--input-color);
  font-size: var(--small-font-size);
  transition: .2s;
}

/* input focus move up label */
.form__input:focus+ .form__label{
  top: -.8rem;
  left: .8rem;
  color: var(--first-color);
  font-size:var(--normal-font-size);
  font-weight: 500;
  z-index: 10;

}

/* input focus stick top label */
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.7rem;
  left: .8rem;
  
  font-size:var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
/* input focus */
.form__input:focus{
  border: 1.5px solid rgb(243, 165, 75);
}


#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 120px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
    margin-right: 10px;
  }
  span.icon {
    background: url('../images/google.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }